@use "variables"

.button
  padding: 2em 1em
  a
    background: variables.$dark
    color: variables.$light
    padding: 1em
    font-size: 1.5em
    text-decoration: none
    font-weight: 600
    &:hover
      text-decoration: underline


.button-light
  padding: 2em 1em
  a
    background: variables.$accent
    color: variables.$dark
    padding: 1em
    font-size: 1.5em
    text-decoration: none
    font-weight: 600
    &:hover
      text-decoration: underline

